<!-- This Angular component is used to include a specific header for the admin section of the application -->
<app-header-admin></app-header-admin>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading and Breadcrumbs -->
    <h1 class="mt-4 mb-3">
      ErgoCare <small>Productos</small>
    </h1>
  
    <!-- Breadcrumb navigation to indicate the user's current location -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="">Home</a></li>
      <li class="breadcrumb-item active">Crear Productos</li>
    </ol>
  
    <!-- Section subtitle for creating a new product -->
    <h2>Crear Producto</h2>
    <!-- Form for creating a new product -->
    <form class="form-horizontal" (ngSubmit)="addProduct()" enctype="multipart/form-data">
      <!-- Hidden field to store the product ID -->
      <input type="hidden" [(ngModel)]="id">
      <div class="form-group row">
        <label class="control-label col-sm-2" for="nombre">Elija una categoría:</label>
        <div class="col-sm-10">
          <div class="combo-box">
            <select [(ngModel)]="categoryId" name="category">
              <option *ngFor="let categoria of categories" [value]="categoria.id">{{categoria.name}}</option>

            </select>
          </div>
        </div>
      </div>
      
      <!-- Field for the product name -->
      <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre:</label>
        <div class="col-sm-10">
          <input [(ngModel)]="name" type="text" class="form-control" id="nombre" name="nombre"
          placeholder="Ingrese el nombre del producto" autocomplete="off" required>
        </div>
      </div>
      
      <!-- Field for the product description -->
      <div class="form-group">
        <label class="control-label col-sm-2" for="descripcion">Descripción:</label>
        <div class="col-sm-10">
          <textarea [(ngModel)]="description" class="form-control" id="descripcion" name="descripcion"
          placeholder="Ingrese la descripcion del producto" required autocomplete="off"></textarea>
        </div>
      </div>
  
      <!-- Field for the product price -->
      <div class="form-group">
        <label class="control-label col-sm-2" for="precio">Precio:</label>
        <div class="col-sm-10">
          <input [(ngModel)]="price" type="number" class="form-control" step="any" id="precio" name="precio"
          placeholder="Ingrese el precio del producto" autocomplete="off" required>
        </div>
      </div>
  
      <!-- Field for uploading an image of the product -->
      <div class="form-group">
        <label class="control-label col-sm-2" for="img">Imagen:</label>
        <div class="col-sm-10">
          <input type="file" class="form-control-file" id="img" name="img" (change)="onFileSelected($event)">
        </div>
      </div>
  
      <!-- Button to submit the form -->
      <div class="row">
        <div class="col-sm-2">
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-saved"></span> Guardar
          </button>
        </div>
      </div>
  
    </form>
  
</div>
